.anchor {
  text-decoration: none;
  color: inherit;

  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.anchor:hover {
  opacity: 0.2;
}