.header__main-illustration {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom right;
  object-position: bottom right;

  width: 765px;
  height: 608px;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -8;
}